<!DOCTYPE html>
<html>
<head>
    <title>Burger Title</title>
    <link rel="stylesheet" href="assets/css/style.css" type="text/css" />
</head>
<body>
<div class="row">
<div class="col-2"> </div>
<div class="col-8 main"> 
<div class="col-12">
    {{{body}}}
</div> 
</div>
<div class="col-2"> </div>
</div>
</body>
</html>